<% provide(:title, 'Home') %>
<div class='center jumbotron'>
  <h1>welcome to the Sample App</h1>
  <h2>
    This is the home page for the
    <a href='http://www.railstutorial.org/'>Ruby on Rains Tutorial</a>
    sample application.
  </h2>
</div>
<div id='guilt-signup'>
  <%= image_tag('kitten.jpg', alt: 'Rails cat') %>
  <div class='signup-container'>
    <p class='guilt-msg'>Sign up please?</p>
    <%= link_to 'Sign up', '#', class: 'btn btn-lg btn-primary btn-signup' %>
  </div>
</div>
